@using MoviesApp.MVC.Models.ViewModels.GenreVMs


@model GenreCreateVM

<form method="post">
    <input asp-for="Name"/>
    <span asp-validation-for="Name" style="color:red"></span>

    <button type="submit">Create</button>

</form>