@using MoviesApp.MVC.Models.ViewModels.GenreVMs


@model GenreUpdateVM

<form method="post">
    <input asp-for="Name" />
    <span asp-validation-for="Name" style="color:red"></span>

    <button type="submit">Update</button>
    <a asp-action="index">Cancel</a>

</form>