@model string

@if(Model is null)
{
    <div class="d-flex align-items-center ms-auto">
        <a class="btn btn-dark" href="@Url.Action("Login", "Auth", new { area = "loginRegister" })"> Sign In </a>
        <a class="btn btn-dark ms-5" href="@Url.Action("Register", "Auth", new { area = "loginRegister" })"> Sign Up </a>
    </div>
}


@if (Model is not null)
{
    <div class="d-flex align-items-center ms-auto">
        <h4 style="color:white">@Model</h4>
        <a class="btn btn-dark ms-5" href="@Url.Action("Logout", "Auth", new { area = "loginRegister" })"> Log Out </a>
    </div>
}


