@model ChangePasswordVM

<div class="container">

    <form method="post">
        
        <label>Current Password</label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>

        <label>New password</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>

        <label>Confirm new password</label>
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>

</div>