@model ResetPasswordVM

<div class="container">

    <form method="post" autocomplete="off">
        <input asp-for="Email" hidden  class="form-control" />
        <input asp-for="Token" hidden class="form-control" />

        <label>Password</label>
        <input asp-for="Password"  class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <label>Confirm password</label>
        <input asp-for="ConfirmPassword"  class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button class="btn btn-primary" type="submit">Reset password</button>
    </form>

</div>