@model ShowTimeUpdateVM


@{
    var movies = ViewBag.Movies as List<MovieGetVM>;
    var auditoriums = ViewBag.Auditoriums as List<AuditoriumGetVM>;
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update ShowTime</h4>

                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label asp-for="StartTime">StartTime</label>
                                <input asp-for="StartTime" class="form-control" id="StartTime" placeholder="StartTime">
                                <span class="text-danger" asp-validation-for="StartTime"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="EndTime">EndTime</label>
                                <input asp-for="EndTime" class="form-control" id="EndTime" placeholder="EndTime">
                                <span class="text-danger" asp-validation-for="EndTime"></span>
                            </div>


                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light" asp-action="Index">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



