@model UpdateProductVM

@{
    ProductImage main = Model.Images.FirstOrDefault(i => i.IsPrimary == true);
    ProductImage hover = Model.Images.FirstOrDefault(i => i.IsPrimary == false);
    List<ProductImage> additionals = Model.Images.Where(i => i.IsPrimary == null).ToList();
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Product</h4>

                        <form class="forms-sample" method="post" enctype="multipart/form-data">

                            @*  <div class="form-group">
                            <label asp-for="Photo">Photo</label>
                            <input asp-for="Photo" class="form-control" placeholder="Photo" accept="image/*">
                            <span class="text-danger" asp-validation-for="Photo"></span>
                            </div> *@
                            <div class="form-group">
                                <img style="width:150px; height:150px;" src="~/assets/images/website-images/@main?.ImageURL" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MainPhoto">Main Image</label>
                                <input asp-for="MainPhoto" class="form-control" placeholder="MainPhoto">
                                <span class="text-danger" asp-validation-for="MainPhoto"></span>
                            </div>


                            <div class="form-group">
                                <img style="width:150px; height:150px;" src="~/assets/images/website-images/@hover?.ImageURL" />
                            </div>
                            <div class="form-group">
                                <label asp-for="HoverPhoto">Hover Image</label>
                                <input asp-for="HoverPhoto" class="form-control" placeholder="HoverPhoto">
                                <span class="text-danger" asp-validation-for="HoverPhoto"></span>
                            </div>

                            <div class="form-group">
                                <div style="display:flex">
                                    @foreach (ProductImage image in additionals)
                                    {

                                        <div style="position:relative" class="me-3">
                                            <img style="width:150px; height:150px; " src="~/assets/images/website-images/@image?.ImageURL" />
                                            <input type="hidden" asp-for="ImagesIds" value="@image?.Id" class="form-control">
                                            <button style="position:absolute; top:0; right:0; display:flex; justify-content:center; align-items:center; width:30px; padding:0; height:25px " class="cusDelete btn btn-danger">X</button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photos">Additional Images</label>
                                <input asp-for="Photos" class="form-control" placeholder="Photos">
                                <span class="text-danger" asp-validation-for="Photos"></span>
                            </div>



                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" class="form-control" placeholder="Price">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SKU">SKU</label>
                                <input asp-for="SKU" class="form-control" placeholder="SKU">
                                <span class="text-danger" asp-validation-for="SKU"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoryId">Category</label>
                                <select class="form-control" asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
                                    <option disabled selected>Choose Category</option>


                                </select>
                                <span class="text-danger" asp-validation-for="CategoryId"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="TagIds">Tags</label>
                                <select class="form-control" asp-for="TagIds" asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="TagIds"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ColorIds">Colors</label>
                                <select class="form-control" asp-for="ColorIds" asp-items="new SelectList(Model.Colors,nameof(Color.Id),nameof(Color.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="ColorIds"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SizeIds">Sizes</label>
                                <select class="form-control" asp-for="SizeIds" asp-items="new SelectList(Model.Sizes,nameof(Size.Id),nameof(Size.Name))">
                                </select>
                                <span class="text-danger" asp-validation-for="SizeIds"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control" id="Description" placeholder="Description">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Update</button>
                            <button class="btn btn-light" asp-action="Index">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section DeleteImage {

    <script>

        var btns = document.querySelectorAll(".cusDelete")
        for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener('click', () => {
                btns[i].parentElement.remove();
            })
        }
    </script>


}

