@using CinemaReservationSystem.Core.Entities

@model List<Seat>

<link rel="stylesheet" href="~/reservation/style.css" />

<body onload="onLoaderFunc()">

    <div class="inputForm">
        <center>

            Number of Seats *: <input type="number" id="Numseats" required>
            <br /><br />
            <button onclick="takeData()">Start Selecting</button>
        </center>
    </div>


    <div class="seatStructure">
        <center>

            <table id="seatsBlock">
                <p id="notification"></p>
                <tr>
                    <td colspan="14"><div class="screen">SCREEN</div></td>
                    <td rowspan="20">
                        <div class="smallBox greenBox">Selected Seat</div> <br />
                        <div class="smallBox redBox">Reserved Seat</div><br />
                        <div class="smallBox emptyBox">Empty Seat</div><br />
                    </td>


                </tr>

                <tr>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>

                <tr>
                    <td>A</td>

                    @{
                        for (int i = 0; i < 10; i++)
                        {
                            if (Model[i].IsBooked == true)
                            {
                                <td><input type="checkbox" class="seats booked-already" disabled value="@Model[i].SeatNumber" /></td>
                            }
                            else
                            {
                                <td><input type="checkbox" class="seats" value="@Model[i].SeatNumber" /></td>
                            }

                        }
                    }

                </tr>

                <tr>
                    <td>B</td>

                    @{
                        for (int i = 10; i < 20; i++)
                        {
                            if (Model[i].IsBooked == true)
                            {
                                <td><input type="checkbox" class="seats booked-already" disabled value="@Model[i].SeatNumber"></td>
                            }
                            else
                            {
                                <td><input type="checkbox" class="seats" value="@Model[i].SeatNumber"></td>
                            }

                        }
                    }
                </tr>

            </table>

            <br /><button onclick="updateTextArea()">Confirm Selection</button>
        </center>
    </div>

    <br />
    <br />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="~/reservation/script.js"></script>
</body>
